body{
    display: flex;
    margin: 50px;
}
.div1{
    width: 200px;
    height: 300px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 1000ms;
    padding: 5px;
    margin: 3px;
}
.div1:hover{
    padding: 20px;
    margin: 50px;
    width: 200px;
    height: 300px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 13px 12px 5px 3px gainsboro;
}
.div2{
    width: 200px;
    height: 300px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 1000ms;
    padding: 5px;
    margin: 3px;
}
.div2:hover{
    padding: 20px;
    margin: 50px;
    width: 200px;
    height: 300px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 13px 12px 5px 3px gainsboro;
    transform: scale(0.5);
}
.div3{
    width: 200px;
    height: 300px;
    background-color: beige;
    border: 1px solid black;
    border-radius: 5px;
    transition-duration: 1000ms;
    padding: 5px;
    margin: 3px;
}
.div3:hover{
    padding: 20px;
    margin: 50px;
    width: 200px;
    height: 300px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 13px 12px 5px 3px gainsboro;
    transform: scale(1.5) translate(100px,20px);
}
.siv{
    background-color: aquamarine;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    text-align: center;
    transition-duration: 1s;
}
.siv:hover{
    transform: scale(10.5);
    background-color: aliceblue;
}